.smallThumbnail {
  max-width: 100px;
}

.mediumThumbnail {
  max-width: 150px;
}

.largeThumbnail {
  max-width: 400px;
}

#show{
  background-color: #acdaf1;
  border: 2px solid #00ddff;
  padding: 50px;
  color: #000000;
}

.t-blue{
  color: white;
  background-color: #4099FF;
}

.f-blue{
  color: white;
  background-color: #3B5998;
}

.github-color{
  color: white;
  background-color: #262626;
}

.t-blue:hover{
  color: white;
  background-color: #57a6f9;
}

.f-blue:hover{
  color: white;
  background-color: #46628f;
}

.github-color:hover{
  color: white;
  background-color: #343434;
}
