.pointer{
  cursor: pointer;
}

.postTitle{
  text-decoration: none;
  color: #301efd;
}

.listedPost{
  border-bottom: 2px solid #555555;
  padding-bottom: 10px;
}

.postImg{
  width: 330px;
}

.userPost{
  border: 2px solid #878787;
  border-radius: 5px;
  padding: 5px;
}

.thumb{
  display: inline-block;
  border: 1px solid black;
  padding: 3px;
  border-radius: 10px;
}

.thumb:hover{
  background-color: #b0b0b0;
  color: #35e919;
}

#commentBox{
  width: 100%;
}

.userThumb{
  max-width: 50px;
}

.t-blue{
  color: white;
  background-color: #4099FF;
}

.f-blue{
  color: white;
  background-color: #3B5998;
}

.github-color{
  color: white;
  background-color: #262626;
}

.t-blue:hover{
  color: white;
  background-color: #57a6f9;
}

.f-blue:hover{
  color: white;
  background-color: #46628f;
}

.github-color:hover{
  color: white;
  background-color: #343434;
}

.center-this{
  margin: 0 auto;
}
