.row
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    .row
        .container-fluid.listedPost(ng-repeat='post in posts track by $index')
          .row
            .col-xs-12
              h4: a.pointer.postTitle(ng-click='show(post)') {{post.title}}
          .row
            .col-xs-1
                i.fa.fa-thumbs-up.thumb.pointer(ng-click='upVote(post)' ng-if='activeUser')
                h5 {{post.votes}}
                i.fa.fa-thumbs-down.thumb.pointer(ng-click='downVote(post)' ng-if='activeUser')
            .col-xs-11.col-sm-6
                a(href='{{post.image}}'): img.postImg.thumbnail.img-responsive(ng-src='{{post.image}}')
            .col-sm-3.col-xs-12
              h5 {{post.userName}} -- {{post.createdAt | date:'longDate'}}
              h5(ng-if='post.comments.length > 1') {{post.comments.length}} comments
              h5(ng-if='post.comments.length === 1') {{post.comments.length}} comment
              h5(ng-if='!post.comments.length') No comments
            .col-sm-3.col-xs-12
              h5 Tags:
              p: em {{post.tags.join(', ')}}
