h3.text-center Profile
.container
  .row
    .col-xs-12.col-md-6
      h4 Email Address
      input.form-control(type='text' ng-model='user.email')
      h4 Handle
      input.form-control(type='text' ng-model='user.handle')
      h4 Image Url
      input.form-control(type='url' ng-model='user.image')
      button.btn.btn-xs.btn-info.form-control(ng-click='update(user)') Update
    .col-xs-12.col-md-6
      h4 Current Img
      img.img-responsive.thumbnail#profileImg(ng-src='{{user.image}}')
h3.text-center Posts
.container
  .row
    .col-xs-12.col-sm-4.userPost(ng-repeat='post in posts track by $index')
      .row
        .col-xs-12
          button.btn.btn-xs.btn-warn(ng-click='edit(post)'): i.fa.fa-pencil
          button.btn.btn-xs.btn-danger(ng-click='destroy(post)'): i.fa.fa-trash-o
          h5 {{post.votes}} Votes
        .col-xs-12
          h4: a.pointer.postTitle(ng-click='show(post)') {{post.title}}
      .row
        .col-xs-12
          a(href='{{post.image}}'): img.center-this.postImg.thumbnail.img-responsive(ng-src='{{post.image}}')
          p: em {{post.createdAt | date:'longDate'}}
      .row
        .col-xs-12
          h5(ng-if='post.comments.length > 1') {{post.comments.length}} comments
          h5(ng-if='post.comments.length === 1') {{post.comments.length}} comment
          h5(ng-if='!post.comments.length') No comments
        .col-xs-12
          h5 Tags:
          p: em {{post.tags.join(', ')}}
